<div class="row">
  <div class="col col-xs-12">
    Wystąpiły błędy:
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
