<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Rezultat');
    data.addColumn('number', 'Liczba wyników');
    data.addRows(<%= raw user_results_chart(@all_games) %>);

    var options = {
      'title': 'Rezultaty',
      'height': 400,
      'pieSliceText': 'value'
    };

    var chart = new google.visualization.PieChart(document.getElementById('results-chart'));
    chart.draw(data, options);
  }
</script>

<div id="results-chart"></div>
