<div class="row">
  <div class="col col-xs-3">
    <%= game.title.name %>
  </div>
  <div class="col col-xs-3">
    <%= game.played_at.strftime('%d-%m-%Y') %>
  </div>
  <div class="col col-xs-6">
    placeholder
  </div>
</div>
