<div class="row player-row">
  <div class="col col-xs-3">
    <div class="input-group">
      <%= text_field_tag 'game[name][]', '', class: 'form-control name-field', placeholder: 'Nazwa' %>
    </div>
  </div>
  <div class="col col-xs-3">
    <div class="input-group">
      <%= text_field_tag 'game[points][]', '', class: 'form-control', placeholder: 'Punkty (Bramki)' %>
    </div>
  </div>
  <div class="col col-xs-3">
    <div class="input-group">
      <%= text_field_tag 'game[result][]', '', class: 'form-control', placeholder: 'Rezultat' %>
    </div>
  </div>
  <div class="col col-xs-3">
    <div class="input-group">
      <%= text_field_tag 'game[add_info][]', '', class: 'form-control', placeholder: 'Dodatkowe info' %>
    </div>
  </div>
</div>
