<div class="row container">
  <div class="col col-xs-12">
    <h1>Lista partii</h1>
    <% @games.each do |game| %>
      <div class="row">
        <div class="col col-xs-3">
          <%= game.title.name %>
        </div>
        <div class="col col-xs-3">
          placeholder
        </div>
        <div class="col col-xs-6">
          placeholder
        </div>
      </div>
    <% end %>
  </div>
</div>


