<div class="row container">
  <div class="col col-sm-12">
    <h1>Lista partii</h1>
    <div class="row main-row">
      <div class="col col-sm-3">
        Tytuł gry
      </div>
      <div class="col col-sm-3">
        Rozegrano dnia
      </div>
      <div class="col col-sm-2">
        Punkty/Bramki
      </div>
      <div class="col col-sm-2">
        Rezultat
      </div>
      <div class="col col-sm-2">
        Akcje
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12">
        <%= render @games %>
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12 digg_pagination">
        <%= will_paginate @games %>
      </div>
    </div>

  </div>
</div>


