<div class="row container">
  <div class="col col-sm-12">
    <h1>Lista tytułów</h1>

    <div class="row main-row">
      <div class="col col-sm-3">
        Nazwa
      </div>
      <div class="col col-sm-5">
        Informacje
      </div>
      <div class="col col-sm-4">
        Akcje
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12">
        <%= render @titles %>
      </div>
    </div>

    <div class="row main-row">
      <div class="col col-sm-12 digg_pagination">
        <%= will_paginate @titles %>
      </div>
    </div>

    <% if can? :create, Title %>
      <div class="row main-row">
        <div class="col col-sm-12">
          <h3 style="margin: 0;">Brakuje tytułu? <%= link_to 'Dodaj go!', new_title_path %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>


