/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.menubar {
  background: #000;
  color: #fff;
  width: 100%;

  .menu-item {
    display: inline-block;
    margin-right: 1em;
    border-right: 1px solid #fff;
    padding: 1em 0;
    padding-right: 1em;

    a, a:hover, a:visited, a:focus {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: underline;
      color: #ccc;
    }
  }

  .menu-item-right {
    float: right;
    border: none;
  }

  .menu-brand {
    font-size: 1.2em;
    padding-right: 2em;
    border-right: 1px solid #fff;
  }
}

#container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 991px) {
    text-align: center;
  }
}


.main-row {
  margin-bottom: 1em;
}

